         
  .button {   
    background-color: #ffdb58;   
    border: none;   
    color: #003399;   
    padding: 15px 32px;   
    text-align: center;   
    text-decoration: none;   
    display: inline-block;   
    font-size: 20px;   
	font-weight: bold;   
    margin: 2px 2px;   
    cursor: pointer;   
	border-radius: 12px;   
}   
.button:hover {   
    background-color: #003399;   
    color: white;   
}   
.button:active {   
  background-color: #3e8e41;   
  box-shadow: 0 5px #666;   
  transform: translateY(4px);   
}   
h1 {   
font-family: Arial;  
}  
 
p {  
font-family: Arial;  
font-size: 16px;  
}  
 
form {  
font-family: Arial;  
font-size: 16px;  
}  
  